@(mycourses: List[StuCourseDto], events: List[Event], stuCourseForm: Form[StudentCourseDto])
@import helper._


@main("Account", stuCourseForm("username").value) {

<!-- ===========================================================

	IT Tallaght, 
	Bart Bula, X00107883, 
	Andro Haavandi, X00057252
	April 2015 

=========================================================== -->
<body id="account">

	<section>

		
		<article class="wideArticle">
			<h2> My Account </h2>
			<p>
				This is your personal Progress School of English web student account page.
			</p>
			<p>
				Here you can update your details, apply for more courses, book host families, 
				book our exciting events and access exclusive student stuff.
			</p>	
		</article>

				
		<section class="sectionNarrow">
			
			<article>  <!-- My Personal Details -->
				<div id="hiddyPersonalDet-top"> <!-- open part -->
					<h2> My Personal Details 	
						<!-- read more link -->
						<a href="#" id="hiddyPersonalDet-show" class="showLink" onclick="showHide('hiddyPersonalDet');return false;">Read more &#8659; </a>
					</h2>
				</div> <!-- End of Open part -->
				
				<div id="hiddyPersonalDet" class="sectHidd"> <!-- Hidden part -->
					<p>
						Here you can update your personal information and change your password.
					</p>
					<p>
						Fields marked with * must be filled in.
					</p>
					<h3> Username:  - @stuCourseForm("username").value </h3>
                    @helper.form(action = routes.AccountController.update, 'id -> "accountUpdateForm") {
						<fieldset>
                            <input type="hidden" value="@stuCourseForm("username").value" name="username" id="userName">
                            <input type="hidden" value="@stuCourseForm("studentId").value" name="studentId" id="studentId">
							<legend> Who are you: </legend>
							<div class="formRow">
								<label class="formLabel" for="firstName">*First name:</label>
								<input class="formInputReq" id="firstName" name="firstName" type="text" placeholder="Enter your first name" value="@stuCourseForm("firstName").value" required>
							</div>
							<div class="formRow">
								<label class="formLabel" for="lastName">*Last name:</label>
								<input class="formInputReq" id="lastName" name="lastName" type="text" placeholder="Enter your surname" value="@stuCourseForm("lastName").value" required>
							</div>
							<label class="formLabel" for="gender">Are you:</label>
							<div class="formRowIndent">
								<ul class="formList">
                                    @if(stuCourseForm("gender").value.equals("female")) {
                                        <li><input class="radioBtn" id="genderMale" name="gender" type="radio" value="male"><label for="genderMale">Male</label></li>
                                        <li><input class="radioBtn" id="genderFemale" name="gender" type="radio" value="female" checked><label for="genderFemale">Female</label></li>
                                    } else {
                                        <li><input class="radioBtn" id="genderMale" name="gender" type="radio" value="male" checked><label for="genderMale">Male</label></li>
                                        <li><input class="radioBtn" id="genderFemale" name="gender" type="radio" value="female"><label for="genderFemale">Female</label></li>
                                    }
								</ul>
							</div>
							<div class="formRow">
								<label class="formLabel" for="national">*Nationality:</label>
								<input class="formInputReq" id="nationality" name="nationality" type="text" placeholder="Enter your nationality" value="@stuCourseForm("nationality").value" required>
							</div>
							<div class="formRow">
								<label class="formLabel" for="dateBirth">*Date of Birth: (YYYY-MM-DD)</label>
								<input class="formInputReq" id="dateOfBirth" name="dateOfBirth" type="date" placeholder="Enter your date of birth" value="@stuCourseForm("dateOfBirth").value" required>
							</div>								
						</fieldset>	
						<fieldset>
							<legend>Your home address:</legend>
							<div class="formRow">
								<label class="formLabel" for="homeAddressStreet">*House and street:</label>
								<input class="formInputReq" id="homeAddressStreet" name="street" type="text" placeholder="Enter your house number and street" value="@stuCourseForm("street").value" required>
							</div>	
							<div class="formRow">
								<label class="formLabel" for="homeAddressCity">*Post code, city:</label>
								<input class="formInputReq" id="homeAddressCity" name="city" type="text" placeholder="Enter your post code and city" value="@stuCourseForm("city").value" required>
							</div>								
							<div class="formRow">
								<label class="formLabel" for="homeAddressProvince">Province/state:</label>
								<input class="formInput" id="homeAddressProvince" name="province" type="text" value="@stuCourseForm("province").value" placeholder="Enter your province/state">
							</div>	
							<div class="formRow">
								<label class="formLabel" for="homeAddressCountry">*Country:</label>
								<input class="formInputReq" id="homeAddressCountry" name="country" type="text" placeholder="Enter your country" value="@stuCourseForm("country").value" required>
							</div>	
						</fieldset>
						<fieldset>
							<legend>Your contact details:</legend>
							<div class="formRow">
								<label class="formLabel" for="telephone">*Telephone:</label>
								<input class="formInputReq" id="telephone" name="phone" type="tel" placeholder="Enter your telephone no." value="@stuCourseForm("phone").value" required>
							</div>				
							<div class="formRow">
								<label class="formLabel" for="email">*Email:</label>
								<input class="formInputReq" id="email" name="email" type="email" placeholder="Enter your email address" value="@stuCourseForm("email").value" required>
							</div>
							<div class="formRow">
								<label class="formLabel" for="email">*Confirm Email:</label>
								<input class="formInputReq" id="emailConf" name="emailConf" type="email" placeholder="Enter your email again" required>
							</div>
						</fieldset>
						<fieldset>
							<legend>Your account password:</legend>
							<div class="formRow">
								<label class="formLabel" for="passwordStu">*Password:</label>
								<input class="formInputReq" id="passwordStu" name="password" type="password" placeholder="Enter your password" value="@stuCourseForm("password").value" required>
							</div>				
							<div class="formRow">
								<label class="formLabel" for="passwordStu">*Confirm Password:</label>
								<input class="formInputReq" id="passwordConf" name="passwordConf" type="password" placeholder="Enter your password again" required>
							</div>							
						</fieldset>
						<br>
						<div class="formRowIndent">
							<input class="formBttn" name="changePersDetails" id="changePersDetails" type="submit" onclick="" value="Submit Updated Details">
						</div>
                        <div id="message" style="display:none"></div>
					} <!-- End of: Form -->
					<!-- "Hide" link -->
					<p>
						<a href="#" id="hiddyPersonalDet-hide" class="hideLink" onclick="showHide('hiddyPersonalDet');return false;">Hide &#8657; </a>
					</p>	 				
				</div> <!-- End of Hidden part -->
			</article> <!-- End of: My Personal Details article-->
					


			<article>  <!-- My Courses -->
				<div id="hiddyMyCourses-top"> <!-- open part -->
					<h2> My Courses 	
						<!-- read more link -->
						<a href="#" id="hiddyMyCourses-show" class="showLink" onclick="showHide('hiddyMyCourses');return false;">Read more &#8659; </a>
					</h2>
				</div> <!-- End of Open part -->
				
				<div id="hiddyMyCourses" class="sectHidd"> <!-- Hidden part -->
					<p>
						Here you can see details of all courses you took in our school.
					</p>
					<p>
						Here are also course applications that you haven't completed yet. You can complete them when you're ready. 
					</p>
					
					@for(mycourse <- mycourses) {
					<article class="innerArticle">
						<div class="innerArticle" id="hiddyCourse@mycourse.stuCourseId-top">
							<h3> @mycourse.course.courseName
								<!-- read more link -->
								<a href="#" id="hiddyCourse@mycourse.stuCourseId-show" class="showLink" onclick="showHide('hiddyCourse@mycourse.stuCourseId');return false;">Read more &#8659; </a>
							</h3>
						</div> <!-- End of Open part -->						
						<div id="hiddyCourse@mycourse.stuCourseId" class="sectHidd"> <!-- Hidden part -->
							<aside>
								<h4>@mycourse.course.courseDescription</h4>
								<p>
									Here will be course description. Table below provides info about course/results etc.
									This is a finished course, so no further edits possible.
								</p>
							</aside>
							<table>
								<tr>
									<th class="toLeft">Course Status:</th>
									<th class="toRight">@mycourse.courseStatus</th>
									<th class="toRight">&nbsp;</th>		
								</tr>
								<tr>
									<td class="toLeft">Price per week:</td>
									<td class="toRight">&#8364; @mycourse.course.coursePPW</td>
									<td class="toRight">&nbsp;</td>	
								</tr>
								<tr class="darkRow">
									<td class="toLeft">Total price:</td>
									<td class="toRight">&#8364; @(mycourse.course.coursePPW * mycourse.course.courseLength)</td>
									<td class="toRight">&nbsp;</td>	
								</tr>									
								<tr>
									<td class="toLeft">Course length:</td>
									<td class="toRight">@mycourse.course.courseLength Weeks</td>
									<td class="toRight">&nbsp;</td>		
								</tr>
								<tr class="darkRow">
									<td class="toLeft">Start date: </td>
									<td class="toRight">@mycourse.courseStartDate.format("dd MMM yyyy")</td>
									<td class="toRight">&nbsp;</td>	
								</tr>
								<tr>
									<td class="toLeft">End date: </td>
									<td class="toRight">@mycourse.courseEndDate.format("dd MMM yyyy")</td>
									<td class="toRight">&nbsp;</td>	
								</tr>									
								<tr class="darkRow">
									<td class="toLeft">Level attained:</td>
									<td class="toRight">@mycourse.courseLevel</td>
									<td class="toRight">&nbsp;</td>	
								</tr>
								<tr>
									<td class="toLeft">Attendance:</td>
									<td class="toRight">@mycourse.courseAttendance %</td>
									<td class="toRight">&nbsp;</td>
								</tr>
								<tr class="darkRow">
									<td class="toLeft">Accommodation:</td>
									<td class="toRight">@mycourse.courseAccommodation</td>
									<td class="toRight">&nbsp;</td>
								</tr>
							</table>	
							@if(mycourse.courseStatus.equals("Saved for later")) {
							<div class="formRowIndent">	
								<a class="formBttn" href="@routes.StudentCourseController.apply(mycourse.courseId)">Continue application</a>
								<a class="formBttn" href="@routes.StudentCourseController.deleteApplication(mycourse.courseId)">Delete application</a>
							</div>	
							}
							<!-- "Hide" link -->
							<p>
								<a href="#" id="hiddyCourse@mycourse.stuCourseId-hide" class="hideLink" onclick="showHide('hiddyCourse@mycourse.stuCourseId');return false;">Hide &#8657; </a>
							</p>
						</div>
					</article>						
					} <!-- end of my course display -->	

						

					
					<!-- "Hide" link -->
					<p>
						<a href="#" id="hiddyMyCourses-hide" class="hideLink" onclick="showHide('hiddyMyCourses');return false;">Hide &#8657; </a>
					</p>	 				
				</div> <!-- End of Hidden part -->
			</article> <!-- End of: My Courses article-->

					
		</section> <!-- end of narrow section -->

			
			
			
			
		<section class="sectionNarrowRight">


			<article>  <!-- Social Activities -->
				<div id="hiddySocActiv-top"> <!-- open part -->
					<h2> Upcoming Social Event 	
						<!-- read more link -->
						<a href="#" id="hiddySocActiv-show" class="showLink" onclick="showHide('hiddySocActiv');return false;">Read more &#8659; </a>
					</h2>
				</div> <!-- End of Open part -->
				
				<div id="hiddySocActiv" class="sectHidd"> <!-- Hidden part -->
					<p><br>
					</p>
					<!-- Logically there will be only 1 event on the list -->
					@for(socEvent <- events) {
					<aside>
						<h4>@socEvent.eventName</h4>
						<p>@socEvent.eventDescription1</p>
						<p>@socEvent.eventDescription2</p>
						<p>@socEvent.eventDescription3</p>
					</aside>
					<table>
						<tr>
							<th class="toLeft">When:</th>
							<th class="toLeft">What time:</th>
							<th class="toLeft">For how many:</th>	
							<th class="toLeft">Free spaces:</th>
							<th class="toLeft">&nbsp;</th>
						</tr>
						<tr>
							<td class="toLeft">@socEvent.eventDate.format("dd MMM yyyy")</td>
							<td class="toLeft">@socEvent.eventTime</td>
							<td class="toLeft">@socEvent.eventMaxCapacity</td>	
							<td class="toLeft" id="currentCapacity@socEvent.eventId">@socEvent.eventCurrCapacity</td>
                            @if("BOOKED".equals(socEvent.status)){
                                <input type="hidden" id="action@socEvent.eventId" value="unbook">
                                <td class="toLeft">
                                    <a class="formBttn" href="#" id="eventSubmitBtn@socEvent.eventId" onclick="submitEvent(@socEvent.eventId, @stuCourseForm("studentId").value)">No, I won't be there.</a>
                                </td>
                            } else {
                                <input type="hidden" id="action@socEvent.eventId" value="book">
                                <td class="toLeft">
                                    <a class="formBttn" href="#" id="eventSubmitBtn@socEvent.eventId" onclick="submitEvent(@socEvent.eventId, @stuCourseForm("studentId").value)">Yes, I'm going!</a>
                                </td>
                            }
						</tr>
					</table>	
					}
                    <div id="message1" style="display:none"/>
					<!-- "Hide" link -->
					<p>
						<a href="#" id="hiddySocActiv-hide" class="hideLink" onclick="showHide('hiddySocActiv');return false;">Hide &#8657; </a>
					</p>	 				
				</div> <!-- End of Hidden part -->
			</article> <!-- End of: Social Activities article-->

			
		</section> <!-- end of narrow section -->			

		
		
		<a class="backLink" href="@routes.Assets.at("images/Backgrounds/BackBective.jpg")" data-lightbox="Bective" title="Bective Abbey - Co. Meath">
			Background image: Bective Abbey, Co. Meath<br>
			Author: Bart Bula<br>
			Click here to see the image.
		</a>
				
	</section>

</body>
}