@main("Account") {

<body id="account">

<section>

		
				<article class="wideArticle">
						<h2> My Account </h2>
						<p>
							This is your personal Progress School of English web student account page.
						</p>
						<p>
							Here you can update your details, apply for more courses, book host families, 
							book our exciting events and access exclusive student stuff.
						</p>	
				</article>

				
			<section class="sectionNarrow">
			
				<article>  <!-- My Personal Details -->
					<div id="hiddyPersonalDet-top"> <!-- open part -->
						<h2> My Personal Details 	
							<!-- read more link -->
							<a href="#" id="hiddyPersonalDet-show" class="showLink" onclick="showHide('hiddyPersonalDet');return false;">Read more &#8659; </a>
						</h2>
					</div> <!-- End of Open part -->
					
					<div id="hiddyPersonalDet" class="sectHidd"> <!-- Hidden part -->
						<p>
							Here you can update your personal information and change your password.
						</p>
						<p>
							Fields marked with * must be filled in.
						</p>
						<h3> Username: Username shown here - username can't be changed </h3>
						<form action="" method="post" id="persDetailsForm">
							<fieldset>
								<legend> Who are you: </legend>
								<div class="formRow">
									<label class="formLabel" for="firstName">*First name:</label>
									<input class="formInputReq" id="firstName" name="firstName" type="text" placeholder="Enter your first name" required>
								</div>
								<div class="formRow">
									<label class="formLabel" for="lastName">*Last name:</label>
									<input class="formInputReq" id="lastName" name="lastName" type="text" placeholder="Enter your surname" required>
								</div>
								<label class="formLabel" for="gender">Are you:</label>
								<div class="formRowIndent">
									<ul class="formList">
										<li><input class="radioBtn" id="genderMale" name="gender" type="radio"><label for="genderMale">Male</label></li>
										<li><input class="radioBtn" id="genderFemale" name="gender" type="radio"><label for="genderFemale">Female</label></li>
									</ul>
								</div>
								<div class="formRow">
									<label class="formLabel" for="national">*Nationality:</label>
									<input class="formInputReq" id="national" name="national" type="text" placeholder="Enter your nationality" required>
								</div>
								<div class="formRow">
									<label class="formLabel" for="dateBirth">*Date of Birth:</label>
									<input class="formInputReq" id="dateBirth" name="dateBirth" type="date" placeholder="Enter your date of birth" required>
								</div>								
							</fieldset>	
							<fieldset>
								<legend>Your home address:</legend>
								<div class="formRow">
									<label class="formLabel" for="homeAddressStreet">*House and street:</label>
									<input class="formInputReq" id="homeAddressStreet" name="homeAddressStreet" type="text" placeholder="Enter your house number and street" required>
								</div>	
								<div class="formRow">
									<label class="formLabel" for="homeAddressCity">*Post code, city:</label>
									<input class="formInputReq" id="homeAddressCity" name="homeAddressCity" type="text" placeholder="Enter your post code and city" required>
								</div>								
								<div class="formRow">
									<label class="formLabel" for="homeAddressProvince">Province/state:</label>
									<input class="formInput" id="homeAddressProvince" name="homeAddressProvince" type="text" placeholder="Enter your province/state">
								</div>	
								<div class="formRow">
									<label class="formLabel" for="homeAddressCountry">*Country:</label>
									<input class="formInputReq" id="homeAddressCountry" name="homeAddressCountry" type="text" placeholder="Enter your country" required>
								</div>	
							</fieldset>
							<fieldset>
								<legend>Your contact details:</legend>
								<div class="formRow">
									<label class="formLabel" for="telephone">*Telephone:</label>
									<input class="formInputReq" id="telephone" name="telephone" type="tel" placeholder="Enter your telephone no." required>
								</div>				
								<div class="formRow">
									<label class="formLabel" for="email">*Email:</label>
									<input class="formInputReq" id="email" name="email" type="email" placeholder="Enter your email address" required>
								</div>
								<div class="formRow">
									<label class="formLabel" for="email">*Confirm Email:</label>
									<input class="formInputReq" id="emailConf" name="emailConf" type="email" placeholder="Enter your email again" required>
								</div>
							</fieldset>
							<fieldset>
								<legend>Your account password:</legend>
								<div class="formRow">
									<label class="formLabel" for="passwordStu">*Password:</label>
									<input class="formInputReq" id="passwordStu" name="passwordStu" type="password" placeholder="Enter your password" required>
								</div>				
								<div class="formRow">
									<label class="formLabel" for="passwordStu">*Confirm Password:</label>
									<input class="formInputReq" id="passwordConf" name="passwordConf" type="password" placeholder="Enter your password again" required>
								</div>							
							</fieldset>
							<br>
							<div class="formRowIndent">
								<input class="formBttn" name="changePersDetails" id="changePersDetails" type="submit" onclick="" value="Submit Updated Details">
								<input class="formBttn" name="reset" id="resetPersDetails" type="reset" value="Reset Details">
							</div>			
						</form>	 <!-- End of: Form -->						
						<!-- "Hide" link -->
						<p>
							<a href="#" id="hiddyPersonalDet-hide" class="hideLink" onclick="showHide('hiddyPersonalDet');return false;">Hide &#8657; </a>
						</p>	 				
					</div> <!-- End of Hidden part -->
				</article> <!-- End of: My Personal Details article-->
					


				<article>  <!-- My Courses -->
					<div id="hiddyMyCourses-top"> <!-- open part -->
						<h2> My Courses 	
							<!-- read more link -->
							<a href="#" id="hiddyMyCourses-show" class="showLink" onclick="showHide('hiddyMyCourses');return false;">Read more &#8659; </a>
						</h2>
					</div> <!-- End of Open part -->
					
					<div id="hiddyMyCourses" class="sectHidd"> <!-- Hidden part -->
						<p>
							Here you can see details of all courses you took in our school.
						</p>
						<p>
							Here are also course applications that you haven't completed yet. You can complete them when you're ready. 
						</p>
						
						<article class="innerArticle">
							<div class="innerArticle" id="hiddyCourse1-top">
								<h3> Course name in header
									<!-- read more link -->
									<a href="#" id="hiddyCourse1-show" class="showLink" onclick="showHide('hiddyCourse1');return false;">Read more &#8659; </a>
								</h3>
							</div> <!-- End of Open part -->						
							<div id="hiddyCourse1" class="sectHidd"> <!-- Hidden part -->
								<aside>
									<h4>Course description:</h4>
									<p>
										Here will be course description. Table below provides info about course/results etc.
										This is a finished course, so no further edits possible.
									</p>
								</aside>
								<table>
									<tr>
										<th class="toLeft">Course Status:</th>
										<th class="toRight">Completed</th>
										<th class="toRight">&nbsp;</th>		
									</tr>
									<tr>
										<td class="toLeft">Price per week:</td>
										<td class="toRight">&#8364; 175</td>
										<td class="toRight">&nbsp;</td>	
									</tr>
									<tr class="darkRow">
										<td class="toLeft">Total price:</td>
										<td class="toRight">&#8364; 9982</td>
										<td class="toRight">&nbsp;</td>	
									</tr>									
									<tr>
										<td class="toLeft">Course length:</td>
										<td class="toRight">8 weeks</td>
										<td class="toRight">&nbsp;</td>		
									</tr>
									<tr class="darkRow">
										<td class="toLeft">Start date:</td>
										<td class="toRight">30 Feb 2013</td>
										<td class="toRight">&nbsp;</td>	
									</tr>
									<tr>
										<td class="toLeft">End date:</td>
										<td class="toRight">31 Apr 2013</td>
										<td class="toRight">&nbsp;</td>	
									</tr>									
									<tr class="darkRow">
										<td class="toLeft">Level attained:</td>
										<td class="toRight">Upper intermediate</td>
										<td class="toRight">&nbsp;</td>	
									</tr>
									<tr>
										<td class="toLeft">Final grade:</td>
										<td class="toRight">B+</td>
										<td class="toRight">&nbsp;</td>	
									</tr>
									<tr class="darkRow">
										<td class="toLeft">Attendance:</td>
										<td class="toRight">96%</td>
										<td class="toRight">&nbsp;</td>
									</tr>
									<tr>
										<td class="toLeft">Accommodation:</td>
										<td class="toRight">Host family</td>
										<td class="toRight">&nbsp;</td>
									</tr>
								</table>								
								<!-- "Hide" link -->
								<p>
									<a href="#" id="hiddyCourse1-hide" class="hideLink" onclick="showHide('hiddyCourse1');return false;">Hide &#8657; </a>
								</p>
							</div>
						</article>						

						
						
						<article class="innerArticle">
							<div class="innerArticle" id="hiddyCourse2-top">
								<h3> Course name in header
									<!-- read more link -->
									<a href="#" id="hiddyCourse2-show" class="showLink" onclick="showHide('hiddyCourse2');return false;">Read more &#8659; </a>
								</h3>
							</div> <!-- End of Open part -->						
							<div id="hiddyCourse2" class="sectHidd"> <!-- Hidden part -->
								<aside>
									<h4>Course description:</h4>
									<p>
										This is another course application that is not submitted yet.
										Fields with buttons in the rightmost column indicate where info can be edited.
									</p>
									<p>
										Or is it better to have it as a form? Or some other, separate application page?
									</p>
								</aside>
								<table>
									<tr>
										<th class="toLeft">Course Status:</th>
										<th class="toRight">Application in progress</th>
										<th class="toRight">&nbsp;</th>		
									</tr>
									<tr>
										<td class="toLeft">Price per week:</td>
										<td class="toRight">&#8364; 175</td>
										<td class="toRight">&nbsp;</td>	
									</tr>
									<tr class="darkRow">
										<td class="toLeft">Total price:</td>
										<td class="toRight">&#8364; 9982</td>
										<td class="toRight"><a class="formBttn" href="apply.html">Pay</a></td>	
									</tr>									
									<tr>
										<td class="toLeft">Course length:</td>
										<td class="toRight">8 weeks</td>
										<td class="toRight"><a class="formBttn" href="apply.html">Change length</a></td>		
									</tr>
									<tr class="darkRow">
										<td class="toLeft">Start date:</td>
										<td class="toRight">30 Feb 2013</td>
										<td class="toRight"><a class="formBttn" href="apply.html">Change date</a></td>	
									</tr>
									<tr>
										<td class="toLeft">End date:</td>
										<td class="toRight">31 Apr 2013</td>
										<td class="toRight">&nbsp;</td>	
									</tr>									
									<tr class="darkRow">
										<td class="toLeft">Level attained:</td>
										<td class="toRight">N/A</td>
										<td class="toRight">&nbsp;</td>	
									</tr>
									<tr>
										<td class="toLeft">Final grade:</td>
										<td class="toRight">N/A</td>
										<td class="toRight">&nbsp;</td>	
									</tr>
									<tr class="darkRow">
										<td class="toLeft">Attendance:</td>
										<td class="toRight">N/A</td>
										<td class="toRight">&nbsp;</td>
									</tr>
									<tr>
										<td class="toLeft">Accommodation:</td>
										<td class="toRight">Private rental</td>
										<td class="toRight"><a class="formBttn" href="apply.html">Book host family</a></td>
									</tr>
								</table>								
								<!-- "Hide" link -->
								<p>
									<a href="#" id="hiddyCourse2-hide" class="hideLink" onclick="showHide('hiddyCourse2');return false;">Hide &#8657; </a>
								</p>
							</div>
						</article>

						
						<!-- "Hide" link -->
						<p>
							<a href="#" id="hiddyMyCourses-hide" class="hideLink" onclick="showHide('hiddyMyCourses');return false;">Hide &#8657; </a>
						</p>	 				
					</div> <!-- End of Hidden part -->
				</article> <!-- End of: My Courses article-->

					
			</section> <!-- end of narrow section -->

			
			
			
			
			<section class="sectionNarrowRight">


				<article>  <!-- Host Family Preferences -->
					<div id="hiddyHostPref-top"> <!-- open part -->
						<h2> Host Family Preferences 	
							<!-- read more link -->
							<a href="#" id="hiddyHostPref-show" class="showLink" onclick="showHide('hiddyHostPref');return false;">Read more &#8659; </a>
						</h2>
					</div> <!-- End of Open part -->
					
					<div id="hiddyHostPref" class="sectHidd"> <!-- Hidden part -->
						<p>
							Here you can update your host family preferences. These will be used to match you with a suitable host family.
						</p>
						<p>
							If you don't require host family accommodation you can leave this section blank.
						</p>
						<form action="" method="post" id="hostFamPrefForm">
							<fieldset>
								<legend>Dietary requirements:</legend>
								<div class="formRowIndent">
									<ul class="formList">
										<li><input class="checkieBox" id="vegetarian" name="diet" type="checkbox"><label for="vegetarian">Vegetarian</label></li>
										<li><input class="checkieBox" id="halal" name="diet" type="checkbox"><label for="halal">Halal</label></li>
										<li><input class="checkieBox" id="kosher" name="diet" type="checkbox"><label for="kosher">Kosher</label></li>
										<li><input class="checkieBox" id="allStuff" name="diet" type="checkbox"><label for="allStuff">None. I eat everything</label></li>
									</ul>
								</div>
							</fieldset>
							<fieldset>
								<legend>Smoking or not:</legend>
								<div class="formRowIndent">
									<ul class="formList">
										<li><input class="radioBtn" id="smoking" name="smokes" type="radio"><label for="smoking">Smoking</label></li>
										<li><input class="radioBtn" id="nonSmoking" name="smokes" type="radio"><label for="nonSmoking">Non-smoking</label></li>
									</ul>
								</div>
							</fieldset>
							<fieldset>
								<legend>Pets or no pets:</legend>
								<div class="formRowIndent">
									<ul class="formList">
										<li><input class="radioBtn" id="yesPets" name="pets" type="radio"><label for="yesPets">Yes! I like pets!</label></li>
										<li><input class="radioBtn" id="noPets" name="pets" type="radio"><label for="noPets">No pets please!</label></li>
										<li><input class="radioBtn" id="dontMindPets" name="pets" type="radio"><label for="dontMindPets">Doesn't matter</label></li>
									</ul>
								</div>
							</fieldset>							
							<fieldset>
								<legend>Young children:</legend>
								<div class="formRowIndent">
									<ul class="formList">
										<li><input class="radioBtn" id="yesChildren" name="children" type="radio"><label for="yesChildren">Yes! I like children!</label></li>
										<li><input class="radioBtn" id="noChildren" name="children" type="radio"><label for="noChildren">No children please!</label></li>
										<li><input class="radioBtn" id="dontMindChildrens" name="children" type="radio"><label for="dontMindChildrens">Doesn't matter</label></li>
									</ul>
								</div>
							</fieldset>	
							<fieldset>
								<legend>Other requirements:</legend>
								<div class="formRow">
									<label class="formLabel" for="otherRequirements">Other:</label>
									<textarea class="textField" id="otherRequirements" name="otherRequirements" rows="5" cols="30" placeholder="Enter other requirements here"></textarea>
								</div>
							</fieldset>							

							<br>
							<div class="formRowIndent">
								<input class="formBttn" name="changePersDetails" id="changePersDetails" type="submit" onclick="" value="Submit Updated Details">
								<input class="formBttn" name="reset" id="resetPersDetails" type="reset" value="Reset Details">
							</div>			
						</form>	 <!-- End of: Form -->						
						<!-- "Hide" link -->
						<p>
							<a href="#" id="hiddyHostPref-hide" class="hideLink" onclick="showHide('hiddyHostPref');return false;">Hide &#8657; </a>
						</p>	 				
					</div> <!-- End of Hidden part -->
				</article> <!-- End of: Host Family Preferences article-->

				
				
				
				<article>  <!-- Social Activities -->
					<div id="hiddySocActiv-top"> <!-- open part -->
						<h2> Upcoming Social Event 	
							<!-- read more link -->
							<a href="#" id="hiddySocActiv-show" class="showLink" onclick="showHide('hiddySocActiv');return false;">Read more &#8659; </a>
						</h2>
					</div> <!-- End of Open part -->
					
					<div id="hiddySocActiv" class="sectHidd"> <!-- Hidden part -->
						<p>
							Here will be the next upcoming social event details. I think it will be only 1 displayed (for simplicity). So let's say:
						</p>
						<aside>
							<h4>Trip to Glendalough</h4>
							<p>
								Glendalough is famed for its beautiful scenery and historic monuments, 
								but has also been a centre for pilgrims and visitors from the time of St. Kevin.
							</p>
							<p>
								This is where St. Kevin founded his monastery in the sixth century. He lived here "in the hollow of a tree". 
								His fame as a holy man spread and he attracted numerous followers.
							</p>
							<p>
								The monastery would have included numerous dwellings, workshops, areas for manuscript writing and copying. 
								The buildings which survive probably date from between the 8th and 12th centuries. The valley of Glendalough 
								contains a series of carved and plain stones and crosses, some of which have marked stations on the pilgrim's route.
							</p>
						</aside>
						<table>
							<tr>
								<th class="toLeft">When:</th>
								<th class="toLeft">What time:</th>
								<th class="toLeft">For how many:</th>	
								<th class="toLeft">Free spaces:</th>
								<th class="toLeft">&nbsp;</th>
							</tr>
							<tr>
								<td class="toLeft">08 May 2015</td>
								<td class="toLeft">8:00 AM</td>
								<td class="toLeft">20</td>	
								<td class="toLeft">8</td>
								<td class="toLeft"><a class="formBttn" href="apply.html">Book event</a></td>
							</tr>
							</table>						
						<!-- "Hide" link -->
						<p>
							<a href="#" id="hiddySocActiv-hide" class="hideLink" onclick="showHide('hiddySocActiv');return false;">Hide &#8657; </a>
						</p>	 				
					</div> <!-- End of Hidden part -->
				</article> <!-- End of: Social Activities article-->

				
			</section> <!-- end of narrow section -->			

		
		
			<a class="backLink" href="@routes.Assets.at("images/Backgrounds/BackBective.jpg")" data-lightbox="Bective" title="Bective Abbey - Co. Meath">
				Background image: Bective Abbey, Co. Meath<br>
				Author: Bart Bula<br>
				Click here to see the image.
			</a>
				
		</section>

</body>
}