@main("Contactus") {

<body id="contact">

<section>
			
			
				<article class="wideArticle">
					<h2> Keep in Contact </h2>
					<p><img src="@routes.Assets.at("images/Photo.png")" alt="Placeholder Photo"></p>
					<p>
						Progress School of English<br>
						4 Somestreet, <br>
						Rathmines, <br>
						Dublin 6,  <br>
						Ireland<br><br>
						Phone: +353 01 234 5678<br><br>
						Email: <a class="textLink" href="mailto:info@@coredesign.ie" target="_top">info@@progressschool.ie</a>
					</p>
				</article>
		
		
		
		
			<section class="sectionNarrow">
				<article>  <!-- Map  -->
					<h2> Location on the Map: </h2>	
					<p>	
						Progress School of English is well situated on the South Side of Dublin, 
						in Rathmines, one of the city's liveliest suburbs, 
						just 10 minutes by bus from the city centre and served many different bus routes.
					</p><br>					
					<p>
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19066.45262352382!2d-6.25789550000003!3d53.31986384999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670ea90b03a337%3A0x8ef6d7a6092b1022!2sRathmines%2C+Co.+Dublin!5e0!3m2!1sen!2sie!4v1427581645597" width="98%" height="450" frameborder="0" style="border:0"></iframe>
					</p>
				</article> <!-- End of: Map article-->
					
			</section> <!-- end of narrow section -->
			
		
		
		
			<section class="sectionNarrowRight">
				<article>  <!-- Contact details -->
					<h2> Directions from Dublin Airport: </h2>
					<p>
						Take the bus number 16. The bus stops at Dublin Airport are located 
						behind the multi-storey car park near Terminal 1. 
						Tell the driver you want to get off in Harold's Cross at Greyhound Stadium stop. 
						He/she will let you know when the bus gets there.
					</p>
					<p>
						The journey takes about 1 hour.
					</p>
					<p>
						For more detailed information with bus stops and timetables visit 
						<a class="textLink" href="http://www.dublinbus.ie/en/Your-Journey1/Timetables/All-Timetables/16-/" target="blank">Route 16 info on Dublin Bus website.</a> 
					</p>	
					<img class="imgWide" src="@routes.Assets.at("images/Photo.png")" alt="Placeholder Photo">					
				</article> <!-- End of: Contact details article-->
				
				
			</section> <!-- end of narrow section -->
				
				
		
			<a class="backLink" href="@routes.Assets.at("images/Backgrounds/BackKilkennyCastle.jpg")" data-lightbox="KilkennyCastle" title="Kilkenny Castle - Co. Kilkenny">
				Background image: Kilkenny Castle, Co. Kilkenny<br>
				Author: Bart Bula<br>
				Click here to see the image.
			</a>
				
		</section>

</body>
}