@main("Courses") {

<body id="courses">

<section>

				<article class="wideArticle">
					<h2> Our Courses </h2>
					<p><img src="@routes.Assets.at("images/Photo.png")" alt="Placeholder Photo"></p>
					<p>
						We at Progress School of English offer a range of English courses to suit students of all levels. 
						We have students from beginner all the way up to advanced. 
					</p>
					<p>
						The focus of our classes is communication. 
						We believe in providing classes that help students in the 5 key areas of Reading, Writing, Speaking, Listening and Pronunciation. 
						Our students are encouraged to use and improve their English at all times. 
					</p>
					<p>
						Our weekly curriculum builds students confidence quickly and, with the help of our superb teaching staff, 
						allows them to move through the levels with ease, all the time focusing on their individual learning outcomes. 
						This means you make rapid progress with your language skills. 
					</p>
					<p>
						We will help you to set objective goals and measure your progress. 
						We can really get to know you individually, giving you as much personal attention as possible.
					</p>
				</article>

			
			
			<section class="sectionNarrow">
				<article>  <!-- General English Courses -->
					<div id="hiddyGeneral-top"> <!-- open part -->
						<h2> General English Courses 	
							<!-- read more link -->
							<a href="#" id="hiddyGeneral-show" class="showLink" onclick="showHide('hiddyGeneral');return false;">Read more &#8659; </a>
						</h2>
					</div> <!-- End of Open part -->
					
					<div id="hiddyGeneral" class="sectHidd"> <!-- Hidden part -->
						<img class="imgWide" src="@routes.Assets.at("images/Photo.png")" alt="Placeholder Photo">
						<p>	
							This is our most popular course. It is also a basis for exam preparation courses.
						</p>
						<p>
							General English course is designed to develop your Spoken, Written, Pronunciation and Listening Skills 
							in English while also improving grammar and enriching your vocabulary. Lessons are based 
							on everyday topics and are active, task-based and relevant to daily life.
						</p>
						<p>
							You will be placed in a class that is appropriate to your level of English. 
							You will take the level placement test at the beginning of the course and every 2 weeks afterwards. 
						</p>
						<h3> General English course price-list </h3>
						<table>
							<tr>
								<th class="toLeft">Course Type</th>
								<th class="toRight">Course Length</th>
								<th class="toRight">Price per Week</th>		
								<th class="toRight">Total Price</th>
								<th class="ToLeft">&nbsp;</th>
							</tr>
							<tr>
								<td class="toLeft">Morning: Classes 9.30-13.30</td>
								<td class="toRight">2 weeks</td>
								<td class="toRight">&#8364; 195</td>		
								<td class="toRight">&#8364; 390</td>
								<td class="toRight"><a class="tableBttn" href="@routes.Application.apply()">Apply</a></td>
							</tr>
							<tr class="darkRow">
								<td class="toLeft">Evening: Classes 18:00-21.00</td>
								<td class="toRight">2 weeks</td>
								<td class="toRight">&#8364; 180</td>		
								<td class="toRight">&#8364; 360</td>
								<td class="toRight"><a class="tableBttn" href="@routes.Application.apply()">Apply</a></td>
							</tr>
							<tr>
								<td class="toLeft">Morning: Classes 9.30-13.30</td>
								<td class="toRight">4 weeks</td>
								<td class="toRight">&#8364; 185</td>		
								<td class="toRight">&#8364; 740</td>
								<td class="toRight"><a class="tableBttn" href="@routes.Application.apply()">Apply</a></td>
							</tr>
							<tr class="darkRow">
								<td class="toLeft">Evening: Classes 18:00-21.00</td>
								<td class="toRight">4 weeks</td>
								<td class="toRight">&#8364; 170</td>		
								<td class="toRight">&#8364; 680</td>
								<td class="toRight"><a class="tableBttn" href="@routes.Application.apply()">Apply</a></td>
							</tr>
							<tr>
								<td class="toLeft">Morning: Classes 9.30-13.30</td>
								<td class="toRight">8 weeks</td>
								<td class="toRight">&#8364; 175</td>		
								<td class="toRight">&#8364; 1400</td>
								<td class="toRight"><a class="tableBttn" href="@routes.Application.apply()">Apply</a></td>
							</tr>
							<tr class="darkRow">
								<td class="toLeft">Evening: Classes 18:00-21.00</td>
								<td class="toRight">8 weeks</td>
								<td class="toRight">&#8364; 160</td>		
								<td class="toRight">&#8364; 1280</td>
								<td class="toRight"><a class="tableBttn" href="@routes.Application.apply()">Apply</a></td>
							</tr>
							<tr>
								<td class="toLeft">Morning: Classes 9.30-13.30</td>
								<td class="toRight">12 weeks</td>
								<td class="toRight">&#8364; 165</td>		
								<td class="toRight">&#8364; 1980</td>
								<td class="toRight"><a class="tableBttn" href="@routes.Application.apply()">Apply</a></td>
							</tr>
							<tr class="darkRow">
								<td class="toLeft">Evening: Classes 18:00-21.00</td>
								<td class="toRight">12 weeks</td>
								<td class="toRight">&#8364; 150</td>		
								<td class="toRight">&#8364; 1800</td>
								<td class="toRight"><a class="tableBttn" href="@routes.Application.apply()">Apply</a></td>
							</tr>
						</table>
						<!-- "Hide" link -->
						<p>
							<a href="#" id="hiddyGeneral-hide" class="hideLink" onclick="showHide('hiddyGeneral');return false;">Hide &#8657; </a>
						</p>	 				
					</div> <!-- End of Hidden part -->
				</article> <!-- End of: General English Courses article-->
					

				<article>  <!-- Academic Year  -->
					<div id="hiddyAcademic-top"> <!-- open part -->
						<h2> Academic Year Programme 
							<!-- read more link -->
							<a href="#" id="hiddyAcademic-show" class="showLink" onclick="showHide('hiddyAcademic');return false;">Read more &#8659; </a>
						</h2>
					</div> <!-- End of Open part -->
					
					<div id="hiddyAcademic" class="sectHidd"> <!-- Hidden part -->	
						<img class="imgWide" src="@routes.Assets.at("images/Photo.png")" alt="Placeholder Photo">
						<p>
							This Programme is designed to meet a need from students who want to spend a longer time 
							on improving their English in a planned and structured manner. 
							Academic Year Programme is also structured to suit individual student's needs. 
						</p>
						<p>
							Our Academic Year Programme caters for students of all levels, from Elementary to an Advanced. 
							This extended programme offers students a unique opportunity to return to their home country with 
							skills that will greatly improve their future career prospects.
						</p>
						<h3> Academic Year Programme prices </h3>
						<table>
							<tr>
								<th class="toLeft">Course Type</th>
								<th class="toRight">Course Length</th>
								<th class="toRight">Price per Week</th>		
								<th class="toRight">Total Price</th>
								<th class="ToLeft">&nbsp;</th>
							</tr>
							<tr>
								<td class="toLeft">Academic Year Programme</td>
								<td class="toRight">25 weeks course</br> + 27 weeks holidays</td>
								<td class="toRight">&#8364; 100</td>		
								<td class="toRight">&#8364; 2500</td>
								<td class="toRight"><a class="tableBttn" href="@routes.Application.apply()">Apply</a></td>
							</tr>
						</table>				
						<!-- "Hide" link -->
						<p>
							<a href="#" id="hiddyAcademic-hide" class="hideLink" onclick="showHide('hiddyAcademic');return false;">Hide &#8657; </a>
						</p>	 				
					</div> <!-- End of Hidden part -->
				</article> <!-- End of: Academic Year article-->

				
			</section> <!-- end of narrow section -->
			
			
			
				
			<section class="sectionNarrowRight">

				<article>  <!-- Exam Preparation Courses -->
					<div id="hiddyExam-top"> <!-- open part -->
						<h2> Exam Preparation Courses 
							<!-- read more link -->
							<a href="#" id="hiddyExam-show" class="showLink" onclick="showHide('hiddyExam');return false;">Read more &#8659; </a>
						</h2>
					</div> <!-- End of Open part -->
					
					<div id="hiddyExam" class="sectHidd"> <!-- Hidden part -->
						<img class="imgWide" src="@routes.Assets.at("images/Photo.png")" alt="Placeholder Photo">
						<p>
							We offer exam preparation courses for IELTS, Cambridge and TOEFL exams.
						</p>
						<p>
							Each course consists of a morning level-relevant General English classes 
							followed by 1 hour exam specific class in the afternoon.
							Students wishing to prepare for IELTS need to achieve at least Intermediate level.
						</p>
						<p>
							Prices listed below cover all course components (i.e. General English + exam specific class).
						</p>
						<h3> Exam Preparation courses price-list </h3>						
						<table>
							<tr>
								<th class="toLeft">Course Type</th>
								<th class="toRight">Course Length</th>
								<th class="toRight">Price per Week</th>		
								<th class="toRight">Total Price</th>
								<th class="ToLeft">&nbsp;</th>
							</tr>
							<tr>
								<td class="toLeft">IELTS exam preparation</td>
								<td class="toRight">4 weeks</td>
								<td class="toRight">&#8364;</td>		
								<td class="toRight">&#8364;</td>
								<td class="toRight"><a class="tableBttn" href="@routes.Application.apply()">Apply</a></td>
							</tr>
							<tr class="darkRow">
								<td class="toLeft">Cambridge exam preparation</td>
								<td class="toRight">4 weeks</td>
								<td class="toRight">&#8364;</td>		
								<td class="toRight">&#8364;</td>
								<td class="toRight"><a class="tableBttn" href="@routes.Application.apply()">Apply</a></td>
							</tr>
							<tr>
								<td class="toLeft">TOEFL exam preparation</td>
								<td class="toRight">4 weeks</td>
								<td class="toRight">&#8364;</td>		
								<td class="toRight">&#8364;</td>
								<td class="toRight"><a class="tableBttn" href="@routes.Application.apply()">Apply</a></td>
							</tr>
						</table>
						<!-- "Hide" link -->
						<p>
							<a href="#" id="hiddyExam-hide" class="hideLink" onclick="showHide('hiddyExam');return false;">Hide &#8657; </a>
						</p>	 				
					</div> <!-- End of Hidden part -->
				</article> <!-- End of: Exam Preparation Courses article -->

				
			</section> <!-- end of narrow section -->

			
			
			<a class="backLink" href="@routes.Assets.at("images/Backgrounds/BackChristchurch.jpg")" data-lightbox="Christchurch" title="Christchurch Cathedral - Dublin">
				Background image: Christchurch Cathedral, Dublin<br>
				Author: Bart Bula<br>
				Click here to see the image.
			</a>
			
		</section>
</body>

}
