@main("Home") {

<!-- ===========================================================

	IT Tallaght, 
	Bart Bula, X00107883, 
	Andro Haavandi, X00057252
	April 2015 

=========================================================== -->

<body id="home">
<section>
	
				
				<article class="wideArticle">
					<h2> Our School </h2>
					<p><img src="@routes.Assets.at("images/Photo.png")" alt="Placeholder Photo"></p>
					<p>
						Progress School of English was established in 2010 and offers quality general English language courses 
						of all levels from Beginner to Advanced in a variety of programmes ranging from 2 weeks to academic year, 
						as well as IELTS, Cambridge and TOEFL exam preparation courses.
					</p>
					<p>			
						The students are from various cultural backgrounds, mainly from within the EU, but also 
						from countries like Brazil, Russia, Argentina, Korea, UAE and Egypt.
					</p>
					<p>
						Our school is an ideal place to study English in Dublin. 
						We are well situated on the South Side of Dublin, in Rathmines, one of the city's liveliest suburbs, 
						just 10 minutes by bus from the city centre and served many different bus routes. 
					</p>
				</article>



			
			<section class="sectionNarrow">
				<article>  <!-- What we offer -->
					<div id="hiddyOffer-top"> <!-- open part -->
						<h2> What We Offer 	
							<!-- read more link -->
							<a href="#" id="hiddyOffer-show" class="showLink" onclick="showHide('hiddyOffer');return false;">Read more &#8659; </a>
						</h2>
					</div> <!-- End of Open part -->
					
					<div id="hiddyOffer" class="sectHidd"> <!-- Hidden part -->
						<img class="imgWide" src="@routes.Assets.at("images/Photo.png")" alt="Placeholder Photo">
						<p>	
							We offer a range of English courses to suit students of all levels from beginner all the way up to advanced. 
						</p>
						<p>
							We believe in providing classes that help students in the 5 key areas of Reading, Writing, Speaking, Listening and Pronunciation. 
						</p>
						<p>
							Our weekly curriculum builds students confidence quickly and, with the help of our superb teaching staff, 
							allows them to move through the levels with ease, all the time focusing on their individual learning outcomes. 
							This means you make rapid progress with your language skills. 
						</p>
						<p>
							We will help you to set objective goals and measure your progress. 
							We can really get to know you individually, giving you as much personal attention as possible.
						</p>	
						
						<article class="innerArticle">
							<div class="innerArticle" id="hiddyFacilities-top">
								<h3>School Facilities
									<!-- read more link -->
									<a href="#" id="hiddyFacilities-show" class="showLink" onclick="showHide('hiddyFacilities');return false;">Read more &#8659; </a>
								</h3>
							</div> <!-- End of Open part -->
							<div id="hiddyFacilities" class="sectHidd"> <!-- Hidden part -->
								<img class="imgWide" src="@routes.Assets.at("images/Photo.png")" alt="Placeholder Photo">
								<p>
									Our school offers a warm, welcoming and friendly atmosphere. 
									The school building provides students with bright spacious classrooms equipped with video, large whiteboards and projectors. 
								</p>
								<p>
									There is also a Tea Room and Garden where students and teachers meet at break times to have coffee/tea with biscuits, to relax, 
									read one of the magazines or just chat with other students from around the world. 
									We have also a video room with a projector and surround sound speakers where students will be able to watch DVDs in the afternoon.
								</p>	
								<!-- "Hide" link -->
								<p>
									<a href="#" id="hiddyFacilities-hide" class="hideLink" onclick="showHide('hiddyFacilities');return false;">Hide &#8657; </a>
								</p>
							</div>
						</article>

						
						
						<article class="innerArticle">
							<div class="innerArticle" id="hiddyFocus-top">
								<h3>Learning Focus
									<!-- read more link -->
									<a href="#" id="hiddyFocus-show" class="showLink" onclick="showHide('hiddyFocus');return false;">Read more &#8659; </a>
								</h3>	
							</div> <!-- End of Open part -->
							<div id="hiddyFocus" class="sectHidd"> <!-- Hidden part -->							
								<img class="imgWide" src="@routes.Assets.at("images/Photo.png")" alt="Placeholder Photo">
								<p>
									Our students are encouraged to use and improve their English at all times. 
									Our weekly curriculum builds students confidence quickly and, with the help of our superb teaching staff, 
									allows them to move through the levels with ease, all the time focusing on their individual learning outcomes. 
								</p>
								<p>			
									This means you make rapid progress with your language skills. We will help you to set objective goals and measure your progress. 
									We can really get to know you individually, giving you as much personal attention as possible.
								</p>	
								<!-- "Hide" link -->
								<p>
									<a href="#" id="hiddyFocus-hide" class="hideLink" onclick="showHide('hiddyFocus');return false;">Hide &#8657; </a>
								</p>
							</div>
						</article>
						
						
						<article class="innerArticle">
							<div class="innerArticle" id="hiddySocial-top">						
								<h3>Social and Cultural Activities
									<a href="#" id="hiddySocial-show" class="showLink" onclick="showHide('hiddySocial');return false;">Read more &#8659; </a>
								</h3>	
							</div> <!-- End of Open part -->
							<div id="hiddySocial" class="sectHidd"> <!-- Hidden part -->							
								<img class="imgWide" src="@routes.Assets.at("images/Photo.png")" alt="Placeholder Photo">
								<p>
									Each and every week we organize trips and excursions which offer a great opportunity to visit 
									the most interesting attractions in Dublin and surrounding area and learn about Irish culture and history. 
									You will never be bored at Progress School of English! 
								</p>
								<!-- "Hide" link -->								
								<p>
									<a href="#" id="hiddySocial-hide" class="hideLink" onclick="showHide('hiddySocial');return false;">Hide &#8657; </a>
								</p>
							</div>
						</article>

						
						<p>
							<a href="apply.html">Apply for a course now!</a>
						</p>
						<!-- "Hide" link -->
						<p>
							<a href="#" id="hiddyOffer-hide" class="hideLink" onclick="showHide('hiddyOffer');return false;">Hide &#8657; </a>
						</p>	 				
					</div> <!-- End of Hidden part -->
				</article> <!-- End of: What we offer article-->
					
					
					
					
				<article>  <!-- Dublin and Ireland  -->
					<div id="hiddyDubIre-top"> <!-- open part -->
						<h2> Dublin and Ireland 
							<!-- read more link -->
							<a href="#" id="hiddyDubIre-show" class="showLink" onclick="showHide('hiddyDubIre');return false;">Read more &#8659; </a>
						</h2>
					</div> <!-- End of Open part -->
					
					<div id="hiddyDubIre" class="sectHidd"> <!-- Hidden part -->	
						<img class="imgWide" src="@routes.Assets.at("images/Photo.png")" alt="Placeholder Photo">
						<p>	
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
							labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
							ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
							reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
						</p>				
						<!-- "Hide" link -->
						<p>
							<a href="#" id="hiddyDubIre-hide" class="hideLink" onclick="showHide('hiddyDubIre');return false;">Hide &#8657; </a>
						</p>	 				
					</div> <!-- End of Hidden part -->
				</article> <!-- End of: Dublin and Ireland article -->


			</section> <!-- end of narrow section -->
				
				
				
			<section class="sectionNarrowRight">
				

				<article>  <!-- Information -->
					<div id="hiddyStuInfo-top" <!-- open part -->
						<h2> Student Information 
							<!-- read more link -->
							<a href="#" id="hiddyStuInfo-show" class="showLink" onclick="showHide('hiddyStuInfo');return false;">Read more &#8659; </a>
						</h2>
					</div> <!-- End of Open part -->
					
					<div id="hiddyStuInfo" class="sectHidd"> <!-- Hidden part -->
						<img class="imgWide" src="@routes.Assets.at("images/Photo.png")" alt="Placeholder Photo">
						<p>	
							Before arriving in Ireland you must ensure that you have all the documents and required by 
							the Irish Naturalisation & Immigration Service (INIS). 
							Depending on the length of the course students from some countries may also require a student visa.				
						</p>
						<p>	
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
							labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
							ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
							reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
						</p>
						<!-- "Hide" link -->
						<p>
							<a href="#" id="hiddyStuInfo-hide" class="hideLink" onclick="showHide('hiddyStuInfo');return false;">Hide &#8657; </a>
						</p>	 				
					</div> <!-- End of Hidden part -->
				</article> <!-- End of: Information article -->
			
				

				<article>  <!-- Accommodation -->
					<div id="hiddyAccommod-top" <!-- open part -->
						<h2> Student Accommodation 
							<!-- read more link -->
							<a href="#" id="hiddyAccommod-show" class="showLink" onclick="showHide('hiddyAccommod');return false;">Read more &#8659; </a>
						</h2>
					</div> <!-- End of Open part -->
					
					<div id="hiddyAccommod" class="sectHidd"> <!-- Hidden part -->
						<img class="imgWide" src="@routes.Assets.at("images/Photo.png")" alt="Placeholder Photo">
						<p>	
							Students can choose to stay with a host family or live on their own privately renting 
							and sharing	a house or an apartment. Staff at Progress School of English can offer 
							advice on where best to search for accommodation and what areas are most safe and practical to live in.
						</p>
						<p>
							You can <a href="apply.html">book a host family here.</a>
						</p>
						<!-- "Hide" link -->
						<p>
							<a href="#" id="hiddyAccommod-hide" class="hideLink" onclick="showHide('hiddyAccommod');return false;">Hide &#8657; </a>
						</p>	 				
					</div> <!-- End of Hidden part -->
				</article> <!-- End of: Accommodation article -->
				
					
			</section> <!-- end of narrow section -->

			
			
			<a class="backLink" href="@routes.Assets.at("images/Backgrounds/BackCliffsMoher.jpg")" data-lightbox="Moher" title="Cliffs of Moher - Co. Clare">
				Background image: Cliffs of Moher, Co. Clare<br>
				Author: Bart Bula<br>
				Click here to see the image.
			</a>
				
		</section>
</body>
		
}
