@(title: String)(content: Html)
<!DOCTYPE html>
<html id="@title">

	<head>
		<title>Progress School of English</title>
		<meta name="authors" content="Bart Bula - X100107883, Andro Haavandi - X00057252" />

		<link href="@routes.Assets.at("stylesheets/reset.css")" rel="stylesheet" type="text/css" />
		<link href="@routes.Assets.at("stylesheets/lightbox.css")" rel="stylesheet" type="text/css" />
		<link href="@routes.Assets.at("stylesheets/ProgressStyle.css")" rel="stylesheet" type="text/css" />

		<script src="@routes.Assets.at("javascripts/lightbox/jquery-1.11.0.min.js")" type="text/javascript"> </script>
		<script src="@routes.Assets.at("javascripts/lightbox/lightbox.min.js")" type="text/javascript"> </script>	
		<script src="@routes.Assets.at("javascripts/progressSchool.js")" type="text/javascript"> </script>
	</head>





	<!-- Main wrapper, includes everything: -->
	<div class="mainWrap"> 


		<!-- Grey bar at the top of the page to cover the scroll -->	
		<div class="topBar">
			<section class="centrColBar">
				<a href="@routes.Application.index()"> <img class="logoLink" src="@routes.Assets.at("images/logoTop.png")" alt="School Logo" height="80px"> </a>
				<div class="navDown"></div> <!-- this div is to keep navigation in line to the bottom -->			
				<nav>
					<a href="@routes.Application.index()" id="homeNav"> <br> HOME </a>
					<a href="@routes.Application.courses()" id="courseNav"> <br> COURSES </a>
					<a href="@routes.Application.accommodation()" id="accNav"> <br> ACCOMMODATION </a>
					<a href="@routes.Application.studentinfo()" id="infoNav"> <br> STUDENTS INFO </a>
					<a href="@routes.Application.visitorsguide()" id="visitNav"> <br> VISITORS' GUIDE </a>
					<a href="@routes.Application.contactus()" id="contactNav"> <br> CONTACT </a>
					<a href="@routes.Application.account()" id="accountNav"> <br> MY ACCOUNT </a>
				</nav> <!--mainNav-->


			</section>	
		</div>

		@content

		<footer>
			<section>
				<article class="FooterArtc">
					<p>
					Copyright &copy 2015 - Progress School of English</br>
					Designed by: <br>
					Bart Bula, X00107883 <br>
					Andro Haavandi, X00057252 <br>
					IT Tallaght.
					</p>
				</article>
				
				<article class="FooterArtc">
					<p>
					Progress School of English</br>
					4 Somestreet</br>
					Rathmines</br>
					Dublin 6</br>
					Ireland</br>
					Phone: +353 01 234 5678</br>
					Email: <a href="mailto:info@@progressschool.ie" target="_top">info@@progressschool.ie</a>				
					</p>
				</article>
				
				<article class="FooterArtc">
					<p>
					<img src="@routes.Assets.at("images/acels-full-gray.png")" alt="ACELS Logo" height="80px">
					</p>
				</article>				
			</section>
		</footer> <!--footer-->	


</div> 	<!-- End of: mainWrap Main wrapper, includes everything -->


</html>
