@main("Payment") {

<!-- ===========================================================

	IT Tallaght, 
	Bart Bula, X00107883, 
	Andro Haavandi, X00057252
	April 2015 

=========================================================== -->

<body id="paymentgpg">
 
		
		<section>

				<article class="wideArticle">
					<h2> Payment confirmation </h2>
					<p>
						Thank you! Your payment has been processed successfully!
					</p>					
					<p>
						This is the breakdown of your transaction:
					</p>			
					<p>
						HERE GOES TABLE WITH THE BREAKDOWN:<br>
						- course<br>
						- accommodation (if applicable)<br>
						- subtotal<br>
						- VAT @ 23%<br>
						- total paid<br>						
					</p>

			
					<div class="formRowIndent">
						<a class="tableBttn" href="@routes.Application.account()">Return to My Account page</a>
					</div>	
							
				
					<br>
				</article>

			
			
			

			
			
			<a class="backLink" href="Images/Backgrounds/BackChristchurch.jpg" data-lightbox="Christchurch" title="Christchurch Cathedral - Dublin">
				Background image: Christchurch Cathedral, Dublin<br>
				Author: Bart Bula<br>
				Click here to see the image.
			</a>
			
		</section>
	
</body>
 
} 
