@main("Studentinfo") {

<body id="studentinfo">

<section>
			

				<article class="wideArticle">
					<h2> Useful Info for Students </h2>
					<p><img src="@routes.Assets.at("images/Photo.png")" alt="Placeholder Photo"></p>
					<p>	
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Duis dui libero, finibus non pellentesque eget, placerat eu odio. 
						Donec eget varius diam. Sed non imperdiet eros, suscipit ullamcorper arcu. 
						Sed in quam sit amet elit porta ullamcorper nec et purus. Curabitur pharetra lacinia tristique. 
						Donec fermentum dolor non est ultrices, pharetra bibendum sapien gravida. 
						Aliquam nec blandit diam, quis vestibulum libero.
					</p>	
				</article>

			
			
			<section class="sectionNarrow">
				<article>  <!-- Visa requirements -->
					<div id="hiddyVisas-top"> <!-- open part -->
						<h2> Visa Requirements 	
							<!-- read more link -->
							<a href="#" id="hiddyVisas-show" class="showLink" onclick="showHide('hiddyVisas');return false;">Read more &#8659; </a>
						</h2>
					</div> <!-- End of Open part -->
					
					<div id="hiddyVisas" class="sectHidd"> <!-- Hidden part -->
						<img class="imgWide" src="images/visa.jpg" alt="Visa Photo">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
							Duis dui libero, finibus non pellentesque eget, placerat eu odio. 
							Donec eget varius diam. Sed non imperdiet eros, suscipit ullamcorper arcu. 
						</p>
						<p>			
							Sed in quam sit amet elit porta ullamcorper nec et purus. Curabitur pharetra lacinia tristique. 
							Donec fermentum dolor non est ultrices, pharetra bibendum sapien gravida. 
							Aliquam nec blandit diam, quis vestibulum libero.
						</p>
						<p>
							For more detailed information and application procedure visit 
							<a href="http://www.inis.gov.ie/en/INIS/Pages/I%20want%20to%20study%20a%20language%20or%20non-degree%20course" target="blank">
							Irish Naturalisation & Immigration Service website.</a> 
						</p>				
						<!-- "Hide" link -->
						<p>
							<a href="#" id="hiddyVisas-hide" class="hideLink" onclick="showHide('hiddyVisas');return false;">Hide &#8657; </a>
						</p>	 				
					</div> <!-- End of Hidden part -->
				</article> <!-- End of: Visa requirements article-->
					



				<article>  <!-- Insurance -->
					<div id="hiddyInsurance-top" <!-- open part -->
						<h2> Insurance 
							<!-- read more link -->
							<a href="#" id="hiddyInsurance-show" class="showLink" onclick="showHide('hiddyInsurance');return false;">Read more &#8659; </a>
						</h2>
					</div> <!-- End of Open part -->
					
					<div id="hiddyInsurance" class="sectHidd"> <!-- Hidden part -->
						<img class="imgWide" src="images/insure.jpg" alt="Insurance Photo">
						<p>
							We advise all students to take out sufficient medical and personal insurance before they arrive in Ireland. 
						</p>
						<p>
							If you are an E.U. resident you will need a 
							<a class="textLink" href="http://www.hse.ie/eng/services/list/1/schemes/EHIC/" target="blank">
							European Health Insurance Card (E.H.I.C.)</a> 
							issued by the Health Authority in your country or an E-111 form. 
							This allows you to have free emergency treatment in state hospitals and is accepted by some doctors. 
						</p>
						<p>
							If you are not an E.U. resident please arrange your own health insurance before you travel. 
							Students should also let us know if they have a medical condition. If any student falls ill during their 
							time at Progress School of English, we will do everything we can to help, from organising to see a doctor 
							or taking you to the hospital. 
						</p>
						<p>
							Students are not insured by the school or host family against illness, theft or the loss of personal possessions. 
							Personal insurance cover is therefore recommended. You are also recommended to take out travel insurance 
							in case of accident or loss of baggage. 			
						</p>	
						<!-- "Hide" link -->
						<p>
							<a href="#" id="hiddyInsurance-hide" class="hideLink" onclick="showHide('hiddyInsurance');return false;">Hide &#8657; </a>
						</p>	 				
					</div> <!-- End of Hidden part -->
				</article> <!-- End of: Insurance article -->
				
			</section> <!-- end of narrow section -->
				
				
			<section class="sectionNarrowRight">
				<article>  <!-- Renting privately  -->
					<div id="hiddyBanks-top"> <!-- open part -->
						<h2> Opening a Bank Account 
							<!-- read more link -->
							<a href="#" id="hiddyBanks-show" class="showLink" onclick="showHide('hiddyBanks');return false;">Read more &#8659; </a>
						</h2>
					</div> <!-- End of Open part -->
					
					<div id="hiddyBanks" class="sectHidd"> <!-- Hidden part -->	
						<img class="imgWide" src="images/bank.jpg" alt="Bank Photo">
						<p>
							To open a student bank account, you must have a 
							<a class="textLink" href="http://www.welfare.ie/en/Pages/Personal-Public-Service-Number-PPS-Number-Frequently-Asked.aspx" target="blank">
							PPS number</a>, your passport and evidence of address in Ireland (official letter from Progress School of English). 
						</p>
						<p>
							We can help in dealing directly with 
							<a class="textLink" href="http://personalbanking.bankofireland.com/life-stages/student/" target="blank">one of the Irish banks.</a>  
							There is a Bank of Ireland branch conveniently located in Rathmines.
						</p>
						<p>
							We will give you a letter so you can apply for a PPS number and show you how to obtain one.
						</p>				
						<!-- "Hide" link -->
						<p>
							<a href="#" id="hiddyBanks-hide" class="hideLink" onclick="showHide('hiddyBanks');return false;">Hide &#8657; </a>
						</p>	 				
					</div> <!-- End of Hidden part -->
				</article> <!-- End of: Renting privately article-->

				
				
				<article>  <!-- Renting privately  -->
					<div id="hiddyWork-top"> <!-- open part -->
						<h2> Finding Work
							<!-- read more link -->
							<a href="#" id="hiddyWork-show" class="showLink" onclick="showHide('hiddyWork');return false;">Read more &#8659; </a>
						</h2>
					</div> <!-- End of Open part -->
					
					<div id="hiddyWork" class="sectHidd"> <!-- Hidden part -->	
						<img class="imgWide" src="images/job.jpg" alt="Job Offered Photo">
						<p>
							A PPS Number is necessary if you wish to work in Ireland. 
							Your <a class="textLink" href="http://www.welfare.ie/en/Pages/Personal-Public-Service-Number-PPS-Number-Frequently-Asked.aspx" target="blank">
							Personal Public Service Number</a>, PPS Number, is a unique reference number that helps 
							you to gain access to social welfare benefits, public services and information in Ireland.
						</p>
						<p>			
							If you are a non-EU student wishing to take up employment, you must be registered as a full-time student. 
							You can then work up to 20 hours a week when attending your course and full-time during your holiday period. 
						</p>
						<p>
							For more detailed information regarding legal aspects of living in Ireland visit
							<a class="textLink" href="http://www.citizensinformation.ie" target="blank">
							www.citizensinformation.ie</a> 
						</p>				
						<!-- "Hide" link -->
						<p>
							<a href="#" id="hiddyWork-hide" class="hideLink" onclick="showHide('hiddyWork');return false;">Hide &#8657; </a>
						</p>	 				
					</div> <!-- End of Hidden part -->
				</article> <!-- End of: Renting privately article-->

				
				
				<article>  <!-- Renting privately  -->
					<div id="hiddyOtherInfo-top"> <!-- open part -->
						<h2> Other Useful Information 
							<!-- read more link -->
							<a href="#" id="hiddyOtherInfo-show" class="showLink" onclick="showHide('hiddyOtherInfo');return false;">Read more &#8659; </a>
						</h2>
					</div> <!-- End of Open part -->
					
					<div id="hiddyOtherInfo" class="sectHidd"> <!-- Hidden part -->	
						&nbsp;
						<article class="innerArticle">
							<div class="innerArticle" id="hiddyTime-top">
								<h3> Time 
									<!-- read more link -->
									<a href="#" id="hiddyTime-show" class="showLink" onclick="showHide('hiddyTime');return false;">Read more &#8659; </a>
								</h3>
							</div> <!-- End of Open part -->						
							<div id="hiddyTime" class="sectHidd"> <!-- Hidden part -->
									<img class="imgWide" src="images/time.jpg" alt="Clock face photo">
								<p>
									The island of Ireland functions on Greenwich Mean Time (GMT)
								</p>
								<p>
									GMT is an absolute time reference and doesn't change with the seasons.
								</p>
								<p>
									The time on the island of Ireland is the same as Greenwich Mean Time less than half of the year.
									During the summer it becomes GMT+1, that's Irish Standard Time (IST) in the Republic and 
									British Summer Time (BST) in Northern Ireland.
									BST and IST start from 01:00 GMT Sunday 31 March 2013 until 01:00 GMT Sunday 27 October 2013.
								</p>	
								<!-- "Hide" link -->
								<p>
									<a href="#" id="hiddyTime-hide" class="hideLink" onclick="showHide('hiddyTime');return false;">Hide &#8657; </a>
								</p>
							</div>
						</article>
						
						
						
						<article class="innerArticle">
							<div class="innerArticle" id="hiddyElect-top">
								<h3>Electrical Current
									<!-- read more link -->
									<a href="#" id="hiddyElect-show" class="showLink" onclick="showHide('hiddyElect');return false;">Read more &#8659; </a>
								</h3>
							</div> <!-- End of Open part -->						
							<div id="hiddyElect" class="sectHidd"> <!-- Hidden part -->
									<img class="imgWide" src="images/electr.jpg" alt="Plug and socket photo">
								<p>
									 The electrical supply in Ireland is 230v 50hz. 
									 The plugs and sockets are a three-pronged formation, the same as those used in the United Kingdom. 
									 If your appliances operate on a different current you will need a power converter and plug adapter.
								</p>
								<p>
									A plug adaptor does not change the electricity supplied to the appliance, only allows it to be 
									plugged into a different type of wall socket. If the appliance you are using supports dual voltage 
									and dual frequency then a plate/tag will be located on the item stating "120/240v, 50/60Hz".
								</p>
								<p>
									Most laptop computer and battery chargers are dual voltage, so all you will need to use them 
									with a different supply is a plug adaptor. Power converters step down the voltage from 240v to 120v, 
									allowing equipment which is not dual voltage to operate at the voltage for which it was designed. 
									Converters do not alter the frequency at which electricity is delivered and should 
									be used a maximum of 1-2 hours at a time. 
								</p>
								<!-- "Hide" link -->
								<p>
									<a href="#" id="hiddyElect-hide" class="hideLink" onclick="showHide('hiddyElect');return false;">Hide &#8657; </a>
								</p>
							</div>
						</article>

						
						<article class="innerArticle">
							<div class="innerArticle" id="hiddyMoney-top">						
								<h3>Money
									<!-- read more link -->
									<a href="#" id="hiddyMoney-show" class="showLink" onclick="showHide('hiddyMoney');return false;">Read more &#8659; </a>
								</h3>
							</div> <!-- End of Open part -->						
							<div id="hiddyMoney" class="sectHidd"> <!-- Hidden part -->
								<img class="imgWide" src="images/euro.jpg" alt="Euro notes and coins photo">
								<p>
									In the Republic of Ireland, the official currency is the Euro. One Euro consists of 100 cent.
								</p>
								<p>
									Notes are &#8364;5, &#8364;10, &#8364;20, &#8364;50, &#8364;100, &#8364;200 and &#8364;500.
									</br>
									Coins are 1c, 2c, 5c, 10c, 20c, 50c, &#8364;1 and &#8364;2. 
								</p>						
								<!-- "Hide" link -->
								<p>
									<a href="#" id="hiddyMoney-hide" class="hideLink" onclick="showHide('hiddyMoney');return false;">Hide &#8657; </a>
								</p>
							</div>
						</article>


						<!-- "Hide" link -->
						<p>
							<a href="#" id="hiddyOtherInfo-hide" class="hideLink" onclick="showHide('hiddyOtherInfo');return false;">Hide &#8657; </a>
						</p>	 				
					</div> <!-- End of Hidden part -->
				</article> <!-- End of: Renting privately article-->
				
				
			</section> <!-- end of narrow section -->

			
			<a class="backLink" href="@routes.Assets.at("images/Backgrounds/BackConnemara.jpg")" data-lightbox="Connemara" title="Connemara - Co. Galway">
				Background image: Connemara, Co. Galway<br>
				Author: Bart Bula<br>
				Click here to see the image.
			</a>
				
		</section>


</body>
}