@main("Visitorsguide") {

<body id="visitors">

<section>

				<article class="wideArticle">
					<h2>Irish Hospitality</h2>
					<p><img src="@routes.Assets.at("Images/Photo.png")" alt="Placeholder Photo"></p>
					<p>	
						The Irish are renowned for their friendliness and for their tradition of hospitality. 
						They have also earned a reputation for academic excellence over the years. 
						Education and the skills of communication have always been highly valued. 
						The Irish love to talk to visitors, to listen and to encourage others to speak English, 
						an ideal environment for language learning.
					</p>
					<p>
						Ireland has undergone rapid industrial and economical development over the past 
						thirty years without losing its own distinctive identity or its strong sense of traditional values.  			
					</p>
					<p>
						Below you will find a selection of information, links and suggestions on what to do in Ireland and Dublin.
					</p>
				</article>

			
			
			<section class="sectionNarrow">
				<article>  <!-- Dublin Attractions -->
					<div id="hiddyDublin-top"> <!-- open part -->
						<h2> Dublin Attractions 	
							<!-- read more link -->
							<a href="#" id="hiddyDublin-show" class="showLink" onclick="showHide('hiddyDublin');return false;">Read more &#8659; </a>
						</h2>
					</div> <!-- End of Open part -->
					
					<div id="hiddyDublin" class="sectHidd"> <!-- Hidden part -->
						<p>	
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
							labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
							ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
							reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
						</p>
						<p>
							Here are some of Dublin's more famous attractions:
						</p>
						
						<article class="innerArticle">
							<div class="innerArticle" id="hiddyStPatricks-top">
								<h3> St. Patrick's Cathedral
									<!-- read more link -->
									<a href="#" id="hiddyStPatricks-show" class="showLink" onclick="showHide('hiddyStPatricks');return false;">Read more &#8659; </a>
								</h3>
							</div> <!-- End of Open part -->						
							<div id="hiddyStPatricks" class="sectHidd"> <!-- Hidden part -->
								<a href="Images/Attractions/StPatricksFull.jpg" data-lightbox="StPat" title="St Patrick's Cathedral - Dublin">
									<img class="imgWideLink" src="Images/Attractions/StPatricks.png" alt="St Patrick's Cathedral Photo"></a>
								<p class="caption">
									St Patrick's Cathedral - Dublin<br>
									Click on the image to see full size.
								</p>
								<p>	
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
									labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
									ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
									reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
								</p>
								<p>
									In ultrices, justo nec gravida accumsan, mauris arcu vestibulum libero, 
									eget accumsan lectus risus aliquam nisi. Aenean volutpat condimentum urna, 
									ac convallis est malesuada et. Praesent tortor est, euismod non vestibulum vel, 
									fermentum non risus. Aliquam tempor dui vel diam semper placerat.
								</p>
								<aside>
									<h4>Get there:</h4>
									<p>
										In ultrices, justo nec gravida accumsan, mauris arcu vestibulum libero, 
										eget accumsan lectus risus aliquam nisi. Aenean volutpat condimentum urna, 
										ac convallis est malesuada et. Praesent tortor est, euismod non vestibulum vel, 
										fermentum non risus. Aliquam tempor dui vel diam semper placerat.
									</p>
								</aside>							
								<!-- "Hide" link -->
								<p>
									<a href="#" id="hiddyStPatricks-hide" class="hideLink" onclick="showHide('hiddyStPatricks');return false;">Hide &#8657; </a>
								</p>
							</div>
						</article>
						
						
						<article class="innerArticle">
							<div  class="innerArticle" id="hiddyChristchurch-top"> <!-- open part -->
								<h3 id="hiddyChristchurch-top"> Christchurch Cathedral 	
									<!-- read more link -->
									<a href="#" id="hiddyChristchurch-show" class="showLink" onclick="showHide('hiddyChristchurch');return false;">Read more &#8659; </a>
								</h3>
							</div> <!-- End of Open part -->						
							<div id="hiddyChristchurch" class="sectHidd"> <!-- Hidden part -->
								<a href="Images/Attractions/ChristchurchFull.jpg" data-lightbox="Christ" title="Christchurch Cathedral - Dublin">
									<img class="imgWideLink" src="Images/Attractions/Christchurch.png" alt="Christchurch Cathedral Photo"></a>
								<p class="caption">
									Christchurch Cathedral - Dublin<br>
									Click on the image to see full size.
								</p>
								<p>	
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
									labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
									ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
									reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
								</p>
								<p>
									In ultrices, justo nec gravida accumsan, mauris arcu vestibulum libero, 
									eget accumsan lectus risus aliquam nisi. Aenean volutpat condimentum urna, 
									ac convallis est malesuada et. Praesent tortor est, euismod non vestibulum vel, 
									fermentum non risus. Aliquam tempor dui vel diam semper placerat.
								</p>
								<aside>
									<h4>Get there:</h4>
									<p>
										In ultrices, justo nec gravida accumsan, mauris arcu vestibulum libero, 
										eget accumsan lectus risus aliquam nisi. Aenean volutpat condimentum urna, 
										ac convallis est malesuada et. Praesent tortor est, euismod non vestibulum vel, 
										fermentum non risus. Aliquam tempor dui vel diam semper placerat.
									</p>
								</aside>							
								<!-- "Hide" link -->
								<p>
									<a href="#" id="hiddyChristchurch-hide" class="hideLink" onclick="showHide('hiddyChristchurch');return false;">Hide &#8657; </a>
								</p>
							</div>
						</article>

						&nbsp;
						<!-- "Hide" link -->
						<p>
							<a href="#" id="hiddyDublin-hide" class="hideLink" onclick="showHide('hiddyDublin');return false;">Hide &#8657; </a>
						</p>	 				
					</div> <!-- End of Hidden part -->
				</article> <!-- End of: Dublin Attractions article-->

			</section> <!-- end of narrow section -->
				
				
				
				
				
			<section class="sectionNarrowRight">
				<article>  <!-- Ireland Attractions  -->
					<div id="hiddyIreland-top"> <!-- open part -->
						<h2> Ireland Attractions 
							<!-- read more link -->
							<a href="#" id="hiddyIreland-show" class="showLink" onclick="showHide('hiddyIreland');return false;">Read more &#8659; </a>
						</h2>
					</div> <!-- End of Open part -->
					
					<div id="hiddyIreland" class="sectHidd"> <!-- Hidden part -->	
						<p>	
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
							labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
							ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
							reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
						</p>
						<p>
							Here are some of Ireland's more famous attractions:
						</p>
						
						<article class="innerArticle">
							<div class="innerArticle" id="hiddyTrimCastle-top">
								<h3> Trim Castle
									<!-- read more link -->
									<a href="#" id="hiddyTrimCastle-show" class="showLink" onclick="showHide('hiddyTrimCastle');return false;">Read more &#8659; </a>
								</h3>
							</div> <!-- End of Open part -->						
							<div id="hiddyTrimCastle" class="sectHidd"> <!-- Hidden part -->
								<a href="Images/Attractions/TrimCastleFull.jpg" data-lightbox="Trim" title="Trim Castle - Trim, Co. Meath">
									<img class="imgWideLink" src="Images/Attractions/TrimCastle.png" alt="Trim Castle Photo"></a>
								<p class="caption">
									Trim Castle - Trim, Co. Meath<br>
									Click on the image to see full size.
								</p>
								<p>	
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
									labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
									ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
									reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
								</p>
								<p>
									In ultrices, justo nec gravida accumsan, mauris arcu vestibulum libero, 
									eget accumsan lectus risus aliquam nisi. Aenean volutpat condimentum urna, 
									ac convallis est malesuada et. Praesent tortor est, euismod non vestibulum vel, 
									fermentum non risus. Aliquam tempor dui vel diam semper placerat.
								</p>
								<aside>
									<h4>Get there from Dublin:</h4>
									<p>
										In ultrices, justo nec gravida accumsan, mauris arcu vestibulum libero, 
										eget accumsan lectus risus aliquam nisi. Aenean volutpat condimentum urna, 
										ac convallis est malesuada et. Praesent tortor est, euismod non vestibulum vel, 
										fermentum non risus. Aliquam tempor dui vel diam semper placerat.
									</p>
								</aside>							
								<!-- "Hide" link -->
								<p>
									<a href="#" id="hiddyTrimCastle-hide" class="hideLink" onclick="showHide('hiddyTrimCastle');return false;">Hide &#8657; </a>
								</p>
							</div>
						</article>
						
						
						<article class="innerArticle">
							<div  class="innerArticle" id="hiddyGlendalough-top"> <!-- open part -->
								<h3 id="hiddyGlendalough---top"> Glendalough 	
									<!-- read more link -->
									<a href="#" id="hiddyGlendalough-show" class="showLink" onclick="showHide('hiddyGlendalough');return false;">Read more &#8659; </a>
								</h3>
							</div> <!-- End of Open part -->						
							<div id="hiddyGlendalough" class="sectHidd"> <!-- Hidden part -->
								<a href="Images/Attractions/GlendaloughFull.jpg" data-lightbox="Glenda" title="Glendalough - Co. Wicklow">
									<img class="imgWideLink" src="Images/Attractions/Glendalough.png" alt="Glendalough Photo"></a>
								<p class="caption">
									Glendalough - Co. Wicklow<br>
									Click on the image to see full size.
								</p>
								<p>	
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
									labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
									ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
									reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
								</p>
								<p>
									In ultrices, justo nec gravida accumsan, mauris arcu vestibulum libero, 
									eget accumsan lectus risus aliquam nisi.
								</p>
								<aside>
									<h4>Get there from Dublin:</h4>
									<p>
										In ultrices, justo nec gravida accumsan, mauris arcu vestibulum libero, 
										eget accumsan lectus risus aliquam nisi. Aenean volutpat condimentum urna, 
										ac convallis est malesuada et. Praesent tortor est, euismod non vestibulum vel, 
										fermentum non risus. Aliquam tempor dui vel diam semper placerat.
									</p>
								</aside>
								<!-- "Hide" link -->
								<p>
									<a href="#" id="hiddyGlendalough-hide" class="hideLink" onclick="showHide('hiddyGlendalough');return false;">Hide &#8657; </a>
								</p>
							</div>
						</article>

						&nbsp;						
						<!-- "Hide" link -->
						<p>
							<a href="#" id="hiddyIreland-hide" class="hideLink" onclick="showHide('hiddyIreland');return false;">Hide &#8657; </a>
						</p>	 				
					</div> <!-- End of Hidden part -->
				</article> <!-- End of: Ireland Attractions article-->
					
			</section> <!-- end of narrow section -->

			

			<a class="backLink" href="@routes.Assets.at("Images/Backgrounds/BackGlenveagh.jpg")" data-lightbox="Glenveagh" title="Glenveagh National Park - Co. Donegal">
				Background image: Glenveagh National Park, Co. Donegal<br>
				Author: Bart Bula<br>
				Click here to see the image.
			</a>

		</section>

</body>
}